<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="todo">
      <h2 data-cy="todoDetailsHeading"><span jhiTranslate="todolistApp.todo.detail.title">Todo</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ todo.id }}</span>
        </dd>
        <dt><span jhiTranslate="todolistApp.todo.title">Title</span></dt>
        <dd>
          <span>{{ todo.title }}</span>
        </dd>
        <dt><span jhiTranslate="todolistApp.todo.description">Description</span></dt>
        <dd>
          <span>{{ todo.description }}</span>
        </dd>
        <dt><span jhiTranslate="todolistApp.todo.createdAt">Created At</span></dt>
        <dd>
          <span>{{ todo.createdAt | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="todolistApp.todo.deadline">Deadline</span></dt>
        <dd>
          <span>{{ todo.deadline | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="todolistApp.todo.user">User</span></dt>
        <dd>
          <span>{{ todo.user?.login }}</span>
        </dd>
        <dt><span jhiTranslate="todolistApp.todo.tag">Tag</span></dt>
        <dd>
          <span *ngFor="let tag of todo.tags; let last = last">
            <a [routerLink]="['/tag', tag?.id, 'view']">{{ tag.name }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/todo', todo.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
